:root {
    --bg-color: #F9FAFB;
}

body {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.italic {
    font-style: italic;
}

.splash {
    display: flex;
    width: max(40%);
    height: 100vh;
    background-image: url('./src/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}


.odin {
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    margin-top: 35%;
    justify-content: center;
    position: relative;
}

.odinBackground {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 50%;
}

.odinText {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 1;
}

#odin {
    height: 120px;    
    }

.odinText > .odinLogoText {
    color: white;
    display: inline-block;
    font-size: 3rem;
}


.main {
    display: flex;
    flex-direction: column;
    width: max(60%);
}

.top {
    display: flex;
    flex-direction: column;
    height: calc(100% / 3);
    justify-content: flex-end;
    padding: 30px;
    background-color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.heroTextTwo {
    margin-top: 30px;
}

.middle {
    display: flex;
    flex-direction: column;
    height: calc(100% / 3);
    padding: 30px;
    z-index: 1;
    box-shadow: 4px 5px 18px 0px grey;
}

.bottom {
    display: flex;
    flex-direction: column;
    height: calc(100% / 3);
    background-color: var(--bg-color);
    padding: 30px;
}

.create {
    background-color: #596D48;
    color: white;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 4px 4px 13px 2px grey;
    font-weight: 700;
    font-size: 1rem;

}

.create:hover {
    cursor: pointer;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;

}

#existingAccount > a {
    text-decoration: none;
    color: #596D48;
    font-weight: 700;
    font-size: large;
}

#existingAccount {
    margin-top: 30px;
}